@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: 'Atkinson Hyperlegible';
}

.title {
    color: #C32D67;
    border-bottom: 2px solid lightgray;
}

.title::before {
    content: url('chart.svg');
    vertical-align: middle;
    padding-right: 20px;
}